<a href="https://colab.research.google.com/github/nkhenissi/pyhton-for-the-data-scientist/blob/main/prediction_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd

In [2]:
pd.set_option('max_columns', 43)

In [23]:
df=pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/817204ac-2202-4b4a-98e7-4184d154d98c", sep="|", dtype={'Code postal':str})
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,"185000,00",5080.0,NaN,CHE,0471,DE VOGELAS,1370,VAL-REVERMONT,1,426,312.0,ZC,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,97.0,5.0,S,NaN,2410.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,"185000,00",5080.0,NaN,CHE,0471,DE VOGELAS,1370,VAL-REVERMONT,1,426,312.0,ZC,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,2410.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,"10,00",NaN,NaN,NaN,B043,ROUGEMONT,1290,BEY,1,42,NaN,A,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,530.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2021,Vente,"204332,00",7.0,NaN,ALL,0276,DES ECUREUILS,1310,BUELLAS,1,65,NaN,B,1325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,88.0,4.0,S,NaN,866.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,"320000,00",87.0,NaN,RTE,0140,DE CERTINES,1250,MONTAGNAT,1,254,NaN,AZ,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/03/2021,Vente,"383000,00",8.0,NaN,RUE,9382,DES TOURNELLES,75004,PARIS 04,75,104,NaN,AO,117,NaN,14.0,"28,86",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,Appartement,NaN,30.0,2.0,NaN,NaN,NaN
4375219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/03/2021,Vente,"260000,00",8.0,NaN,RUE,8561,SAINTE FOY,75002,PARIS 02,75,102,NaN,AP,128,NaN,304.0,NaN,316.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN
4375220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,"38000,00",6.0,NaN,RUE,4398,DES GUILLEMITES,75004,PARIS 04,75,104,NaN,AH,68,NaN,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/03/2021,Vente,"38000,00",30.0,NaN,RUE,7338,DU PETIT MUSC,75004,PARIS 04,75,104,NaN,AP,5,NaN,399.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4375222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,"690000,00",3.0,NaN,RUE,8659,SAINT-JOSEPH,75002,PARIS 02,75,102,NaN,AI,34,NaN,29.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4.0,Local industriel. commercial ou assimilé,NaN,56.0,0.0,NaN,NaN,NaN

In [4]:
stat=df.describe(include='all')
print(stat)

        Code service sages  Reference document  1 Articles CGI  \
count                  0.0                 0.0             0.0
unique                 NaN                 NaN             NaN
top                    NaN                 NaN             NaN
freq                   NaN                 NaN             NaN
mean                   NaN                 NaN             NaN
std                    NaN                 NaN             NaN
min                    NaN                 NaN             NaN
25%                    NaN                 NaN             NaN
50%                    NaN                 NaN             NaN
75%                    NaN                 NaN             NaN
max                    NaN                 NaN             NaN

        2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
count              0.0             0.0             0.0             0.0
unique             NaN             NaN             NaN             NaN
top                NaN             NaN             NaN             NaN
freq               NaN             NaN             NaN             NaN
mean               NaN             NaN             NaN             NaN
std                NaN             NaN             NaN             NaN
min                NaN             NaN             NaN             NaN
25%                NaN             NaN             NaN             NaN
50%                NaN             NaN             NaN             NaN
75%                NaN             NaN             NaN             NaN
max                NaN             NaN             NaN             NaN

        No disposition Date mutation Nature mutation Valeur fonciere  \
count     4.375223e+06       4375223         4375223         4335175
unique             NaN           364               6          158220
top                NaN    29/07/2021           Vente       150000,00
freq               NaN         50823         4047675           36174
mean      1.325654e+00           NaN             NaN             NaN
std       4.933802e+00           NaN             NaN             NaN
min       1.000000e+00           NaN             NaN             NaN
25%       1.000000e+00           NaN             NaN             NaN
50%       1.000000e+00           NaN             NaN             NaN
75%       1.000000e+00           NaN             NaN             NaN
max       1.980000e+02           NaN             NaN             NaN

             No voie   B/T/Q Type de voie Code voie        Voie Code postal  \
count   2.813838e+06  204899      2694742   4341639     4341428     4341508
unique           NaN      38          138     16410      481358        5862
top              NaN       B          RUE      0040  LE VILLAGE       25000
freq             NaN  114665      1522636     22059       39824       19732
mean    7.188059e+02     NaN          NaN       NaN         NaN         NaN
std     2.011571e+03     NaN          NaN       NaN         NaN         NaN
min     1.000000e+00     NaN          NaN       NaN         NaN         NaN
25%     8.000000e+00     NaN          NaN       NaN         NaN         NaN
50%     2.500000e+01     NaN          NaN       NaN         NaN         NaN
75%     1.000000e+02     NaN          NaN       NaN         NaN         NaN
max     9.999000e+03     NaN          NaN       NaN         NaN         NaN

         Commune  Code departement  Code commune  Prefixe de section  Section  \
count    4375223         4375223.0  4.375223e+06       194708.000000  4375044
unique     30934              99.0           NaN                 NaN      587
top     TOULOUSE              59.0           NaN                 NaN        A
freq       32210          127741.0           NaN                 NaN   316654
mean         NaN               NaN  2.092508e+02          437.637827      NaN
std          NaN               NaN  1.677548e+02          314.707578      NaN
min          NaN               NaN  1.000000e+00            1.000000      NaN
25%          NaN               NaN  7.500000e+01          165.000000      NaN
50%          NaN               NaN  1.720000e+02          323.000000      NaN
75%          NaN               NaN  3.000000e+02          822.000000      NaN
max          NaN               NaN  9.090000e+02          950.000000      NaN

             No plan  No Volume    1er lot Surface Carrez du 1er lot  \
count   4.375223e+06     9458.0  1357561.0                    388443
unique           NaN      931.0    13129.0                     18677
top              NaN        1.0        1.0                     12,50
freq             NaN     1881.0    36651.0                      1205
mean    4.153374e+02        NaN        NaN                       NaN
std     5.901918e+02        NaN        NaN                       NaN
min     1.000000e+00        NaN        NaN                       NaN
25%     8.600000e+01        NaN        NaN                       NaN
50%     2.230000e+02        NaN        NaN                       NaN
75%     5.060000e+02        NaN        NaN                       NaN
max     9.873000e+03        NaN        NaN                       NaN

        2eme lot Surface Carrez du 2eme lot  3eme lot  \
count   399456.0                     125235   72941.0
unique    6091.0                      12310    1594.0
top          6.0                      65,00       5.0
freq      9800.0                        112    3490.0
mean         NaN                        NaN       NaN
std          NaN                        NaN       NaN
min          NaN                        NaN       NaN
25%          NaN                        NaN       NaN
50%          NaN                        NaN       NaN
75%          NaN                        NaN       NaN
max          NaN                        NaN       NaN

       Surface Carrez du 3eme lot  4eme lot Surface Carrez du 4eme lot  \
count                       14215   23462.0                       3514
unique                       5108     804.0                       1576
top                         12,50       6.0                      18,20
freq                           37    1471.0                         38
mean                          NaN       NaN                        NaN
std                           NaN       NaN                        NaN
min                           NaN       NaN                        NaN
25%                           NaN       NaN                        NaN
50%                           NaN       NaN                        NaN
75%                           NaN       NaN                        NaN
max                           NaN       NaN                        NaN

             5eme lot Surface Carrez du 5eme lot  Nombre de lots  \
count    10118.000000                       1232    4.375223e+06
unique            NaN                        616             NaN
top               NaN                      40,50             NaN
freq              NaN                         38             NaN
mean        96.812512                        NaN    4.310839e-01
std       1307.522900                        NaN    8.331728e-01
min          2.000000                        NaN    0.000000e+00
25%          7.000000                        NaN    0.000000e+00
50%         19.000000                        NaN    0.000000e+00
75%         51.000000                        NaN    1.000000e+00
max     121205.000000                        NaN    1.900000e+02

        Code type local  Type local  Identifiant local  Surface reelle bati  \
count      2.601426e+06     2601426                0.0         2.598901e+06
unique              NaN           4                NaN                  NaN
top                 NaN  Dépendance                NaN                  NaN
freq                NaN     1056828                NaN                  NaN
mean       2.209693e+00         NaN                NaN         6.888919e+01
std        9.351654e-01         NaN                NaN         5.978159e+02
min        1.000000e+00         NaN                NaN         0.000000e+00
25%        1.000000e+00         NaN                NaN         0.000000e+00
50%        2.000000e+00         NaN                NaN         3.900000e+01
75%        3.000000e+00         NaN                NaN         8.500000e+01
max        4.000000e+00         NaN                NaN         2.375000e+05

        Nombre pieces principales Nature culture Nature culture speciale  \
count                2.598901e+06        2998470                  181713
unique                        NaN             27                     124
top                           NaN              S                   POTAG
freq                          NaN        1545083                   44312
mean                 1.904886e+00            NaN                     NaN
std                  2.125924e+00            NaN                     NaN
min                  0.000000e+00            NaN                     NaN
25%                  0.000000e+00            NaN                     NaN
50%                  1.000000e+00            NaN                     NaN
75%                  4.000000e+00            NaN                     NaN
max                  9.500000e+01            NaN                     NaN

        Surface terrain
count      2.998470e+06
unique              NaN
top                 NaN
freq                NaN
mean       2.601758e+03
std        1.068309e+04
min        0.000000e+00
25%        2.460000e+02
50%        6.070000e+02
75%        1.630000e+03
max        3.166090e+06

In [5]:
def calculate_percentage(column):
  # Count the missing values in the column
  missing_values = column.isnull().sum()

  # Calculate the total number of values in the column
  total_values = column.count() + missing_values

  # Calculate the percentage of missing values
  percentage = (missing_values / total_values) * 100

  # Return the result
  return percentage

# Calculate the percentage of missing values per column
percentages = df.apply(calculate_percentage)

# Print the results
print(percentages)

Code service sages            100.000000
Reference document            100.000000
1 Articles CGI                100.000000
2 Articles CGI                100.000000
3 Articles CGI                100.000000
4 Articles CGI                100.000000
5 Articles CGI                100.000000
No disposition                  0.000000
Date mutation                   0.000000
Nature mutation                 0.000000
Valeur fonciere                 0.915336
No voie                        35.686981
B/T/Q                          95.316833
Type de voie                   38.409037
Code voie                       0.767595
Voie                            0.772418
Code postal                     0.770589
Commune                         0.000000
Code departement                0.000000
Code commune                    0.000000
Prefixe de section             95.549758
Section                         0.004091
No plan                         0.000000
No Volume                      99.783828
1er lot                        68.971616
Surface Carrez du 1er lot      91.121755
2eme lot                       90.870043
Surface Carrez du 2eme lot     97.137632
3eme lot                       98.332862
Surface Carrez du 3eme lot     99.675102
4eme lot                       99.463753
Surface Carrez du 4eme lot     99.919684
5eme lot                       99.768743
Surface Carrez du 5eme lot     99.971841
Nombre de lots                  0.000000
Code type local                40.541865
Type local                     40.541865
Identifiant local             100.000000
Surface reelle bati            40.599576
Nombre pieces principales      40.599576
Nature culture                 31.467036
Nature culture speciale        95.846772
Surface terrain                31.467036
dtype: float64

In [37]:
df2=df[['Nature mutation','Valeur fonciere', 'Code voie','Voie','Code postal','Commune','Code commune','Code departement','No plan','Section','Code type local','Surface reelle bati','Surface terrain']]
df2

,Nature mutation,Valeur fonciere,Code voie,Voie,Code postal,Commune,Code commune,Code departement,No plan,Section,Code type local,Surface reelle bati,Surface terrain
0,Vente,"185000,00",0471,DE VOGELAS,1370,VAL-REVERMONT,426,1,122,ZC,1.0,97.0,2410.0
1,Vente,"185000,00",0471,DE VOGELAS,1370,VAL-REVERMONT,426,1,122,ZC,3.0,0.0,2410.0
2,Vente,"10,00",B043,ROUGEMONT,1290,BEY,42,1,204,A,NaN,NaN,530.0
3,Vente,"204332,00",0276,DES ECUREUILS,1310,BUELLAS,65,1,1325,B,1.0,88.0,866.0
4,Vente,"320000,00",0140,DE CERTINES,1250,MONTAGNAT,254,1,11,AZ,3.0,0.0,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375218,Vente,"383000,00",9382,DES TOURNELLES,75004,PARIS 04,104,75,117,AO,2.0,30.0,NaN
4375219,Vente,"260000,00",8561,SAINTE FOY,75002,PARIS 02,102,75,128,AP,2.0,37.0,NaN
4375220,Vente,"38000,00",4398,DES GUILLEMITES,75004,PARIS 04,104,75,68,AH,3.0,0.0,NaN
4375221,Vente,"38000,00",7338,DU PETIT MUSC,75004,PARIS 04,104,75,5,AP,3.0,0.0,NaN
4375222,Vente,"690000,00",8659,SAINT-JOSEPH,75002,PARIS 02,102,75,34,AI,4.0,56.0,NaN

In [ ]:
df2=df2.dropna()
df2

In [39]:
df2 = df2.drop(columns=['Voie','Nature mutation','Commune','Section'])

In [27]:
df2

,Valeur fonciere,Code voie,Code postal,Code commune,Code departement,No plan,Code type local,Surface reelle bati,Surface terrain
0,"185000,00",0471,1370,426,1,122,1.0,97.0,2410.0
1,"185000,00",0471,1370,426,1,122,3.0,0.0,2410.0
3,"204332,00",0276,1310,65,1,1325,1.0,88.0,866.0
4,"320000,00",0140,1250,254,1,11,3.0,0.0,1426.0
5,"320000,00",0140,1250,254,1,11,1.0,168.0,1426.0
...,...,...,...,...,...,...,...,...,...
4375192,"2000000,00",7590,75002,102,75,67,2.0,39.0,77.0
4375193,"2000000,00",7590,75002,102,75,67,2.0,39.0,77.0
4375194,"2000000,00",7590,75002,102,75,67,2.0,39.0,77.0
4375195,"2000000,00",7590,75002,102,75,67,2.0,12.0,77.0
4375196,"2000000,00",7590,75002,102,75,67,2.0,39.0,77.0

In [40]:
import numpy as np

# Créer une fonction pour tester si une valeur est une lettre
def is_letter(val):
    if isinstance(val, str):
        return any(c.isalpha() for c in val)
    return False

# Appliquer la fonction à chaque valeur du DataFrame et compter le nombre de True
letter_counts = df2.applymap(is_letter).sum()

# Calculer le pourcentage de True par colonne
letter_percentages = letter_counts / df2.shape[0]

# Afficher les pourcentages
print(letter_percentages)

Valeur fonciere        0.000000
Code voie              0.175108
Code postal            0.000000
Code commune           0.000000
Code departement       0.002100
No plan                0.000000
Code type local        0.000000
Surface reelle bati    0.000000
Surface terrain        0.000000
dtype: float64

In [41]:
df2 = df2[~df2.applymap(is_letter).any(axis=1)]

In [48]:
# Remplacer les virgules par des points décimaux dans les valeurs numériques
df2 = df2.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

# Convertir les chaînes de caractères en nombres flottants
df2 = df2.applymap(lambda x: float(x) if isinstance(x, str) else x)

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error


# Sélectionner les colonnes à utiliser comme features
df=df2
features= df2.drop(columns=['Valeur fonciere'])

# Sélectionner la colonne cible
target= Y = df["Valeur fonciere"]

# Normaliser les features en utilisant StandardScaler
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)
X = scaled_features

In [43]:
print(type(X))

<class 'numpy.ndarray'>

In [50]:
X = pd.DataFrame(X, columns=features.columns)

In [51]:
# Éliminer les colonnes corrélées en utilisant une matrice de corrélation
corr_matrix = X.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
X_scaled = X.drop(X[to_drop], axis=1)

<ipython-input-51-a96fd5a2bef8>:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [52]:
# régression Lasso
# avec un coefficient alpha égal à 0.1
lasso = Lasso(alpha=0.1)

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_scaled, target, test_size=0.2)

# Entraîner le modèle sur l'ensemble d'entraînement
lasso.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = lasso.predict(X_test)

# Calculer et afficher l'erreur quadratique moyenne
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 932767736390547.75