In [1]:
import urllib
import bs4
import pandas as pd
from urllib import request
import numpy as np
import csv

In [2]:
url="https://immobilier.lefigaro.fr/prix-immobilier/marseille/ville-13055#prix-quartier"

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Envoi d'une requête HTTP GET à l'URL de la page web
response = requests.get(url)

# Vérification du code de retour de la requête
if response.status_code == 200:
    # Récupération du contenu HTML de la page
    html_content = response.text
    # Création d'un objet BeautifulSoup à partir du contenu HTML
    soup = BeautifulSoup(html_content, "html.parser")
    # Création d'un data frame vide
    df = pd.DataFrame()
    # Récupération des trois premières tables de la page
    tables = soup.find_all("table")[9:]
    # Parcours de chaque table
    for table in tables:
        # Récupération des lignes de la table
        rows = table.find_all("tr")
        # Parcours de chaque ligne
        for row in rows:
            # Récupération des cellules de la ligne
            cells = row.find_all("td")
            # Ajout des cellules au data frame
            df = df.append(cells, ignore_index=True)
    # Enregistrement du data frame dans un fichier CSV ou Excel
    #df.to_csv("output.csv")
    #df.to_excel("output.xlsx")
else:
    print("Erreur lors de la récupération de la page")

/usr/local/lib/python3.8/dist-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [11]:
print(df)

                     0
0    Studios / 1 pièce
1              23 €/m2
2             2 pièces
3              17 €/m2
4             3 pièces
..                 ...
117         5 007 €/m2
118            20 €/m2
119         [[Périer]]
120         4 980 €/m2
121            20 €/m2

[122 rows x 1 columns]